.container-center {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

}

.login {
    background-color: #0101303e;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding-bottom: 20px;


}

.login-area {
    background-color: #181c2e;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10rem;

}

.login-area img {
    width: 170px;
    height: 130px;
    padding: 20px;
}



.login-senha {
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #181c2e;
}

.login input {
    margin-bottom: 1rem;
    height: 35px;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    font-size: 15px;
    background-color: #FFF;
}

form button {
    height: 35px;
    border: 0;
    border-radius: 4px;
    background-color: #181c2e;
    color: #FFF;
    font-size: 1.3rem;
}

.login a {
    margin: 1.5rem 0;
    color: #000;
    cursor: pointer;
}